---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

Here's a simple example that creates a release channel in an existing application:

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

Here's an example of how to create an application and release channel in the same module:

{{ tffile (printf "examples/resources/%s/app_and_rc.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
